<h2>Saudações {{ deliveryman }}</h2>
<hr />
<h3>Uma entrega foi cancelada.</h3>
<h3>Abaixo seguem detalhes sobre o cancelamento ocorrido:</h3>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço: </strong> {{ recipient }}<br />
</p>
