<h2>Saudações {{ deliveryman }}</h2>
<hr />
<h3>Uma nova entrega foi cadastrada para você.</h3>
<h3>O produto que você deve entregar está informado abaixo:</h3>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Entrega gerada às {{ created_at }}
  </small>
</p>
